@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection{
    color: white;
    background-color: black;
}

body{
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
    color: white;
    line-height: 100vh;
    font-size: 7rem;
}

span{
    display: inline-block;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px) translateX(50px);
}

span.fade{
    opacity: 1;
    transform: translateY(0px) translateX(0px);
    color: #2c5364;
}